<main>
    <section class="sec-pad hero-img cover hero-border" style="background-image: url('assets/img/cover/chef.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="hero-text">
                        <h2 class="no-margin mbmd text-center">
                            {{'share.become-chef' | translate}}
                        </h2>
                        <p class="text-center">
                            {{'become-chief.text'|translate}}
                           
                        </p>
                        <div class="text-center">
                            <button type="button" (click)="registerNow()" class="btn btn-green mtxxlg d-inline">{{'become-chief.Register-now'|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-pad">
        <div class="container">
            <div class="features chef mtxxlg">
                <div class="row">
                    <div class="col-sm-4 br bb">
                        <div class="feature text-center">
                            <div class="feature-img">
                                <img src="assets/img/icons/location.svg" alt="">
                            </div>
                            <h3>{{'become-chief.Online-Application'|translate}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-4 br bb">
                        <div class="feature text-center">
                            <div class="feature-img">
                                <img src="assets/img/icons/search.svg" alt="">
                            </div>
                            <h3>{{'become-chief.Sales-Meeting'|translate}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-4 bb">
                        <div class="feature text-center">
                            <div class="feature-img">
                                <img src="assets/img/icons/order.svg" alt="">
                            </div>
                            <h3>{{'become-chief.approved'|translate}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-4 br">
                        <div class="feature text-center">
                            <div class="feature-img">
                                <img src="assets/img/icons/location.svg" alt="">
                            </div>
                            <h3>{{'become-chief.Signing-Contract'|translate}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-4 br">
                        <div class="feature text-center">
                            <div class="feature-img">
                                <img src="assets/img/icons/search.svg" alt="">
                            </div>
                            <h3>{{'become-chief.Training'|translate}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature text-center">
                            <div class="feature-img">
                                <img src="assets/img/icons/order.svg" alt="">
                            </div>
                            <h3> {{'become-chief.Online'|translate}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="sec-pad">
        <div class="container">
            <div class="category chef-benefits">
                <div class="section-title mbxxlg">
                    <h2 class="text-capitalize text-center no-margin">{{'become-chief.Benefits'|translate}}</h2>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="faq-card mbxlg">
                            <h3 class="no-margin">{{'become-chief.Production'|translate}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="faq-card mbxlg">
                            <h3 class="no-margin">{{'become-chief.Sales-Report'|translate}}.</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="faq-card mbxlg">
                            <h3 class="no-margin">{{'become-chief.Financial-Reports'|translate}}.</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="faq-card mbxlg">
                            <h3 class="no-margin">{{'become-chief.flexible'|translate}}.</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="faq-card">
                            <h3 class="no-margin">{{'become-chief.Delivery-Automation'|translate}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="faq-card">
                            <h3 class="no-margin">{{'become-chief.safe-money'|translate}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="faq-card">
                            <h3 class="no-margin">{{'become-chief.Customer-Care'|translate}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="faq-card">
                            <h3 class="no-margin">{{'become-chief.Packaging'|translate}}.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-pad">
        <div class="container">
            <div class="category chef-benefits">
                <div class="section-title mbxxlg">
                    <h2 class="text-capitalize text-center no-margin">{{'become-chief.Requirements'|translate}}</h2>
                </div>
                <div class="row">
                    <div class="col-sm-4 br">
                        <div class="feature text-center">
                            <div class="feature-img">
                                <img src="assets/img/icons/location.svg" alt="">
                            </div>
                            <h3> {{'become-chief.Register-at-maroof'|translate}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-4 br">
                        <div class="feature text-center">
                            <div class="feature-img">
                                <img src="assets/img/icons/search.svg" alt="">
                            </div>
                            <h3>{{'become-chief.Identity'|translate}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature text-center">
                            <div class="feature-img">
                                <img src="assets/img/icons/order.svg" alt="">
                            </div>
                            <h3>{{'become-chief.Comply'|translate}}</h3>
                            <p>
                                {{'become-chief.Food-Saftey'|translate}}
                             
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>