<main>
    <section class="sec-pad hero-img cover hero-border hidden-xs"
        style="background-image: url('assets/img/cover/nn.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="hero-text">
                        <h2 class="no-margin mbmd text-center grocery-text">
                            طلباتك <br>لحد باب البيت
                        </h2>
                        <div class="hero-form mtlg text-center">

                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-pad">
        <div class="container">
            <div class="row">
                <aside class="col-sm-3">
                    <div class="filter">
                        <ul class="filter-c">
                            <li>
                                <div class="search">
                                    <div class="select-container">
                                        <input type="text" placeholder="{{'share.Search'|translate}}"
                                            [(ngModel)]="filter.SearchField">
                                        <button class="btn btn-search" (click)="getFilterData()">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel-group ">
                                    <div class="">
                                        <div class="panel-heading no-padding">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#type"
                                                    aria-expanded="false" class="collapsed">
                                                    {{'grocery.category'|translate}}
                                                    <i class="fas fa-angle-down pull-right"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <div id="type" class="panel-collapse collapse" aria-expanded="false">
                                                <ul>
                                                    <li class="checkbox-custom">
                                                        <input type="radio" name="cat" id="cat"
                                                            (change)="getFilterData()" [(ngModel)]="filter.category_id"
                                                            value="0" class="form-radio">
                                                        <label> {{'search.All'|translate}}</label>
                                                    </li>
                                                    <ng-container *ngFor="let row of categories">
                                                        <li class="checkbox-custom">
                                                            <input type="radio" name="cat" id="cat"
                                                                (change)="getFilterData()" value="{{row.id}}"
                                                                [(ngModel)]="filter.category_id" class="form-radio">
                                                            <label>
                                                                {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}</label>
                                                        </li>
                                                    </ng-container>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="panel-group">
                                    <div class="">
                                        <div class="panel-heading no-padding">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#range"
                                                    aria-expanded="false" class="collapsed">
                                                    {{'share.Price'|translate}}
                                                    <i class="fas fa-angle-down pull-right"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <div id="range" class="panel-collapse collapse" aria-expanded="false">
                                                <div class="range-container">
                                                    <div class="range-slider mbsm">
                                                        <ng5-slider (valueChange)="getFilterData()"
                                                            [(value)]="filter.min_price"
                                                            [(highValue)]="filter.max_price" [options]="options">
                                                        </ng5-slider>
                                                    </div>
                                                    <div class="range-inputs">
                                                        <div class="range-input">
                                                            <label></label>
                                                            <input type="text" class="sliderValue"
                                                                [(ngModel)]="filter.min_price">
                                                        </div>
                                                        <div class="range-input">
                                                            <label></label>
                                                            <input type="text" class="sliderValue"
                                                                [(ngModel)]="filter.max_price">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                          
                        </ul>
                    </div>
                </aside>
                <div class="col-sm-9">
                    <div class="sortby mbmd">
                        <div class="row">

                            <div class="col-md-3 pull-left hidden-xs">
                                <div class="sortbyse">
                                    <div class="select">
                                        <select class="selectpicker" class="input-field" [(ngModel)]="filter.filterType"
                                            (change)="arrangeDataASC()">
                                            <option value="0">{{'share.Sort-by'|translate}}</option>
                                            <option value="1">
                                                {{'share.Price'|translate}}:{{'share.Low-to-High'|translate}} </option>
                                            <option value="2">{{'share.Price'|translate}}:
                                                {{'share.High-to-Low'|translate}}</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pull-right">
                                <div class="switcher">
                                    <ul class="switch">
                                        <li class="list" [class.active]="tab==2">
                                            <a (click)=gridOrList(1)>
                                                <i class="fas fa-list"></i>
                                            </a>
                                        </li>
                                        <li class="grid" [class.active]="tab==1" (click)=gridOrList(2)>
                                            <a>
                                                <i class="fas fa-th"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="loading" class="m-loading">
                        <div>
                            <i class="fas fa-spinner fa-spin color-green"></i>
                        </div>
                    </div>
                    <div [ngClass]="listOrGrid" *ngIf="!loading">
                        <div class="row">
                            <div *ngIf="Data?.data.length==0&&!loading">
                                <div class="empty-text"> <img src="../../../../assets/img/no_results.jpg">
                                    <br>{{'share.no_result'|translate}}</div>
                            </div>
                            <ng-container *ngFor="let row of Data.data">
                                <div class="col-md-4 col-sm-6">
                                    <div class="mbxlg">
                                        <div class="product-item">
                                            <figure
                                                [ngStyle]="{'background':'url(' + row.img1+ ')', 'background-repeat': 'no-repeat', 'background-size': 'cover' }">
                                                <div class="btn-group">
                                                    <button type="button" class="btn dropdown-toggle"
                                                        (click)=addToFavourite(row.id)>
                                                        <i class="fas fa-heart" *ngIf="row.customers.length==0"></i>
                                                        <i class="fas fa-heart color-red"
                                                            *ngIf="row.customers.length>0"></i>
                                                    </button>
                                                </div>
                                            </figure>
                                            <a (click)="orderNow(row)"
                                                class="btn btn-green text-upper">{{'share.order'|translate}}</a>
                                            <div class="product-info">
                                                <star-rating value="{{row.average_rating}}" checkedcolor="#7FB017"
                                                    uncheckedcolor="#ccc" size="28px" readonly="false"
                                                    >
                                                </star-rating>
                                                <h3 class="no-margin mtmd mbmd">
                                                    <a routerLink="/user/meal-details/{{row.id}}">
                                                        {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}
                                                    </a>
                                                </h3>

                                                <div class="price">
                                                    
                                                    <span > {{row.price}}</span>
                                               
                                                    {{'share.SAR'|translate}}
                                                </div>
                                                <div class="meal-data mtmd mbmd">
                                                    <span class="mrlg"><i class="fa fa-balance-scale scale-quantity"
                                                            aria-hidden="true"></i> {{row.quantity}}
                                                        {{languageService.getLanguageOrDefault()=='ar' ? row.unit.ar_name :row.unit.en_name}}
                                                    </span>

                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-xs-12 datatable-footer empty-text" *ngIf="Data?.data.length>0">
                        <pagination class="pagination" [maxSize]="5" [totalItems]="Data.total" [(ngModel)]="Data.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="Data.per_page">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>