<main>
    <section class="sec-pad hero-img cover hero-border" style="background-image: url('assets/img/cover/homepage.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="hero-text">
                        <h2 class="no-margin mbmd text-center">
                            Order Your Favorite <br> Food Online Now
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-pad">
        <div class="container">
            <div class="sec-title">
                <h2 class="no-margin mbmd text-semibold text-center">
                    {{'events.name'|translate}}
                </h2>
            </div>
            <div class="events mtxlg">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="text-center">
                            <p class="mbxlg text-center">
                                {{'events.content' |translate}}
                            </p>
                            <a class="btn btn-green d-inline" (click)="requestEvent()">{{'events.request-event'|translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</main>