table {
    border: 2px solid #7FB017;
    width: 100%;
    text-align: center;
}

.img-circle {
    color: #7FB017
}

.note-height {
    min-height: 50px
}

.note-height-table {
    min-height: 130px
}