.color-white {
    background-color: white;
}

.beside {
    margin-top: 23px;
}

.tablewidth {
    min-height: 180px
}

table {
    border: 2px solid black;
    width: 100%;
    text-align: center;
}

.margin-top {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.total-style {
    font-weight: 900;
}

.txt-style {
    text-align: end;
    font-weight: 900;
}