<main>


    <section class="sec-pad">
        <div class="container">
            <div class="sec-title">
                <h2 class="no-margin mbmd text-semibold text-center">
                    Conditions and provisions for registration <br> in the application of strength
                </h2>
                <p class="no-margin mtmd text-center">
                    Target Group:
                </p>
                <p class="text-center text-semibold">Stores / Production Families / Kitchens</p>
            </div>
            <div class="faq mtxlg">
                <p>
                    <strong>{{'terms.title1' |translate}}</strong> {{'terms.par1' |translate}}
                    <br> {{'terms.par1-1' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title2' |translate}}</strong> {{'terms.par2' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title3' |translate}}</strong> {{'terms.par3' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title4' |translate}}</strong> {{'terms.par4' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title5' |translate}}</strong> {{'terms.par5' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title6' |translate}}</strong> {{'terms.par6' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title7' |translate}}</strong> {{'terms.par7' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title8' |translate}}</strong> {{'terms.par8' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title9' |translate}}</strong> {{'terms.par9' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title10' |translate}}</strong> {{'terms.par10' |translate}}
                </p>

                <p>
                    <strong>{{'terms.title11' |translate}}</strong> {{'terms.par11' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title12' |translate}}</strong> {{'terms.par12' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title13' |translate}}</strong> {{'terms.par13' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title14' |translate}}</strong> {{'terms.par14' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title15' |translate}}</strong> {{'terms.par15' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title16' |translate}}</strong> {{'terms.par16' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title17' |translate}}</strong> {{'terms.par16' |translate}}
                </p>
                <p>
                    <strong>{{'terms.title18' |translate}}</strong> {{'terms.par16' |translate}}
                </p>
            </div>
            <!-- <div class="terms mtxlg">
                <div class="row">
                    <div class="col-sm-4 mbxlg">
                        <div class="term-card">
                            <h2 class="text-bold text-center mbmd">
                                1.
                            </h2>
                            <p class="text-center">
                                In an effort to achieve customer satisfaction, Usrat Qoot for Electronic Marketing LLC will refund in appropriate cases should there be a problem with your food order. Please contact us at the hotline number and we will address the issue. The following
                                cases may be eligible for partial or full refunds: • You did not receive your order • The order you received was incorrect • The order had missing items The expected time span for reporting these issues is within the same
                                day of the order. Applicable refunds will be made through the original mode of payment. You will under no circumstances seek a “chargeback” from the company whose credit card you used to purchase an order from the Website.
                                Should you do so, Usrat Qoot for Electronic Marketing LLC may, in its sole discretion, refuse to honor future orders made from all credit card accounts or online accounts on which such chargebacks have been made, and may
                                prohibit all persons in whose name the credit card accounts exist and any person who accesses any associated online account or credit card or who otherwise breaches this provision from using the Site.

                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mbxlg">
                        <div class="term-card">
                            <h2 class="text-bold text-center mbmd">
                                2.
                            </h2>
                            <p class="text-center">
                                Qout is an intermediate application that brings together the most talented nutritionists and connects them to customers through the Internet.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mbxlg">
                        <div class="term-card">
                            <h2 class="text-bold text-center mbmd">
                                3.
                            </h2>
                            <p class="text-center">
                                Qout is an intermediate application that brings together the most talented nutritionists and connects them to customers through the Internet.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mbxlg">
                        <div class="term-card">
                            <h2 class="text-bold text-center mbmd">
                                4.
                            </h2>
                            <p class="text-center">
                                Qout is an intermediate application that brings together the most talented nutritionists and connects them to customers through the Internet.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mbxlg">
                        <div class="term-card">
                            <h2 class="text-bold text-center mbmd">
                                5.
                            </h2>
                            <p class="text-center">
                                Qout is an intermediate application that brings together the most talented nutritionists and connects them to customers through the Internet.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mbxlg">
                        <div class="term-card">
                            <h2 class="text-bold text-center mbmd">
                                6.
                            </h2>
                            <p class="text-center">
                                Qout is an intermediate application that brings together the most talented nutritionists and connects them to customers through the Internet.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mbxlg">
                        <div class="term-card">
                            <h2 class="text-bold text-center mbmd">
                                7.
                            </h2>
                            <p class="text-center">
                                Qout is an intermediate application that brings together the most talented nutritionists and connects them to customers through the Internet.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mbxlg">
                        <div class="term-card">
                            <h2 class="text-bold text-center mbmd">
                                8.
                            </h2>
                            <p class="text-center">
                                Qout is an intermediate application that brings together the most talented nutritionists and connects them to customers through the Internet.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mbxlg">
                        <div class="term-card">
                            <h2 class="text-bold text-center mbmd">
                                9.
                            </h2>
                            <p class="text-center">
                                Qout is an intermediate application that brings together the most talented nutritionists and connects them to customers through the Internet.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mbxlg">
                        <div class="term-card">
                            <h2 class="text-bold text-center mbmd">
                                10.
                            </h2>
                            <p class="text-center">
                                Qout is an intermediate application that brings together the most talented nutritionists and connects them to customers through the Internet.
                            </p>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>


</main>