<main>
    <section class="sec-pad">
        <div class="container">
            <div class="sec-title">
                <h2 class="no-margin mbmd text-semibold text-center text-upper">
                    Privacy and policy
                </h2>
            </div>
            <div class="faq mtxlg">
                <p>
                    <strong>{{'privacy.title1' |translate}}</strong> {{'privacy.par1' |translate}}
                    <br> {{'privacy.par1-1' |translate}}
                </p>
                <p>
                    <strong>{{'privacy.title2' |translate}}</strong> {{'privacy.par2' |translate}}
                </p>

                <p>
                    <strong>{{'privacy.title3' |translate}}</strong> {{'privacy.par3' |translate}}
                </p>

                <p>
                    <strong>{{'privacy.title4' |translate}}</strong> {{'privacy.par4' |translate}}
                </p>
                <p>
                    <strong>{{'privacy.title5' |translate}}</strong> {{'privacy.par5' |translate}}
                </p>
                <p>
                    <strong>{{'privacy.title6' |translate}}</strong> {{'privacy.par6' |translate}}
                </p>
                <p>
                    <strong>{{'privacy.title7' |translate}}</strong> {{'privacy.par7' |translate}}
                </p>
                <p>
                    <strong>{{'privacy.title8' |translate}}</strong> {{'privacy.par8' |translate}}
                </p>
                <p>
                    <strong>{{'privacy.title9' |translate}}</strong> {{'privacy.par9' |translate}}
                </p>
            </div>
        </div>
    </section>



</main>